$bradius: 50px;
$bShadow: 7px 7px 10px 7px;

.secondpage{
    margin: 70px;
    margin-top: 300px;

    &_galery{
        margin: 150px;
        
        @include tablet{
            grid-template-columns: 1fr;
            margin: 10px;
            width: 220%;
        }
        
        &_img{
            margin-bottom: 20px;
            gap: 40px;
            display: flex;
            justify-content: center;
        }
        
        & .foto1{
            margin: 20px;
            box-shadow: $bShadow;
            width: 20%;
            height: 300px;
            border-radius: $bradius;
            cursor: pointer;
            transition: all 0.7s;
        }
        & .foto1:hover{    
            z-index: 1;
            transform: scale(1.1);
            box-shadow: $bShadow;
        }

        & .foto2{
            margin: 20px;
            box-shadow: $bShadow;
            width: 20%;
            height: 300px;
            border-radius: $bradius;
            cursor: pointer;
            transition: all 0.7s;
        }
        & .foto2:hover{    
            z-index: 1;
            transform: scale(1.1);
            box-shadow: $bShadow;
        }

        & .foto3{
            margin: 20px;
            box-shadow: $bShadow;
            width: 20%;
            height: 300px;
            border-radius: $bradius;
            cursor: pointer;
            transition: all 0.7s;
        }
        & .foto3:hover{    
            z-index: 1;
            transform: scale(1.1);
            box-shadow: $bShadow;
        }
    }
}